
<div class="grid-x grid-padding-x">
  <div class="cell">


    <div id="sign-in">
      <h2>Forgot your password?</h2><br/>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>
    </div>
    
    <br />
    

    <div>
      <span class="text-center">Already a User?</span> <a href="/users/sign_in" class="more scrolly">Sign in</a>
    </div>
  </div>
</div>
