
<div class="grid-x grid-padding-x">
  <div class="cell">


    <div id="sign-in">
      <div>
        <h2>Sign in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Sign In", class: "button" %>
          </div>
        <% end %>
        <a href="/users/password/new" class="password">Forgot your password?</a>
        <div class="other-links">
          <span class="text-center">New User?</span>
          <a href="/users/sign_up" class="more scrolly">Sign Up</a>
        </div>
        
      </div>
    </div>

  </div>
</div>


