<!DOCTYPE html>
<html>
  <head>
    <title>Hungry Travels</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="http://chrisdavies.github.io/tiny-date-picker/tiny-date-picker.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice || alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="column footer">
      <hr/>
      <div class="github">
        <i class="fa fa-github" aria-hidden="true"></i>
        <p>github.com/laurado</p><br/>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <p>linkedin.com/in/laura-do</p><br/>
      </div>
    </div>

    <script>
      // this is a dummy function that google maps looks for in order to initialize the map, however, I prefer to initialize in react
      function initMap() {}
    </script>
    <!-- <script src="http://chrisdavies.github.io/tiny-date-picker/tiny-date-picker.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA42lCf6ZJBzOF2HGN2Oh-eonCGNxueHAY&callback=initMap" async defer></script>
  </body>
</html>
